.TabContainer{
    display: flex;
    flex: row wrap;
    justify-content: space-between;
}

.TabContainerRight{
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-end;
}

.TabContainerSeparatorLine{
    margin-top: 0rem;
    margin-bottom: 0rem;
    border-top: 2px solid gray;
}

.SprintTitleText{
    align-self: center;
}

.projectKeyDropdown{
    margin:0.5rem;
}

#projectSelect {
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 45px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    float: "right";
  }

.sprintDropdown{
    margin:0.5rem;
    float: "right";
}

#sprintSelect{
    width: auto;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 45px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}