table,
th,
td {
    border: 1px solid black;
    font-size: 90%;
    /* font-weight: 450 */
}

td.tdTaskListElement {
    padding: 0.5625rem;
}

.classAuth textarea,
input {
    margin: 10px
}

#board .sbTableHeaderElement {
    color: black;
    padding: 2px;
    min-width: 8rem;
    background-color: lightgray
}

#board .sbTableHeaderSummary {
    margin: 0px;
    max-width: 9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}